<configuration>
<system.webServer>
  <handlers>
      <add name="iisnode" path="assets/currentConfigs.js" verb="*" modules="iisnode" />
  </handlers>
  <staticContent>
    <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>
  </system.webServer>
  <system.webServer>
  <rewrite>
        <rules>
          <rule name="Get dynamic configs in server environment">
                    <match url="configs.json" ignoreCase="true"/>
                    <action type="Redirect" url="assets/currentConfigs.js" redirectType="Permanent" appendQueryString="true" />
                </rule>

            <rule name="angular cli routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
      </rules>
    </rewrite>
  
</system.webServer>
</configuration>
