<ngx-loading [show]="loading"></ngx-loading>
<div class="padding-10 user-details-view" style=" background:#ffffff;">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 title-text">
            {{this.selectedItem.ruleName}}
        </div>
    </div>

    <div *ngIf="displaySpeedDetails">

        <div class="row padding-10">
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Rule Name
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.ruleName}}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Rule Type
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.ruleType}}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Speed Limit
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.speedLimit}}
                </div>
            </div>

        </div>

    </div>
    <div *ngIf="displayGeofenceDetails">

        <agm-map [latitude]="28.7041" [longitude]="77.1025" [zoom]="2">
            <div>
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                <agm-circle [latitude]="lat" [longitude]="lng" [radius]="rad"></agm-circle>
            </div>
        </agm-map>

        <div class="row padding-10">
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Rule Name
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.ruleName}}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Rule Type
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.ruleType}}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Radius
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.radius}}
                </div>
            </div>
        </div>

    </div>


    </div>
