<ngx-loading [show]="loading"></ngx-loading>
<div class="padding-10 user-details-view" style=" background:#ffffff;">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 title-text">
            {{this.selectedItem.ruleName}}
        </div>
    </div>

    <div *ngIf="displaySpeedDetails">

        <div class="row padding-10">
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Rule Name
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.ruleName}}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Rule Type
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.ruleType}}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Speed Limit (kmph)
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.speedLimit}}
                </div>
            </div>

        </div>

    </div>
    <div *ngIf="displayGeofenceDetails">
        <div id='myMap' #myMap style='width: 63.5vw;height: 60vh; margin-left: 1%; position: relative;'></div>

        <div class="row padding-10">
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Rule Name
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.ruleName}}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Rule Type
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.ruleType}}
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 col-lg-4">
                <div class="row padding-20">
                    Radius (m)
                </div>
                <div class="row boldClass padding-20">
                    {{this.selectedItem.radius}}
                </div>
            </div>
        </div>

    </div>


    </div>
