<configuration>
<system.webServer>
  <handlers>
    <add name="iisnode" path="assets/currentConfigs.js" verb="*" modules="iisnode" />
  </handlers>
  <rewrite>
    <rules>
      <rule name="Get dynamic configs in server environment">
          <match url="assets/configs.json" ignoreCase="true"/>
          <action type="Redirect" url="assets/currentConfigs.js" redirectType="Permanent" appendQueryString="true" />
      </rule>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" ignoreCase="false"/>
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false"/>
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="index.html" appendQueryString="true" />
      </rule>
    </rules>
  </rewrite>
  <staticContent>
    <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>
</system.webServer>
</configuration>
