<ngx-loading [show]="loading"></ngx-loading>
<div class="" style=" background:#ffffff;">
    <div class="row padding-bottom">
        <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6 ">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 margin-top-5 title-text">
                    {{selectedItem.registrationNumber}}
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-xl-2 col-lg-2">
        </div>

        <div class="col-sm-4 col-md-2 col-xl-2 col-lg-2" style="margin-left:5%;">
            <button type="button" class="btn btn-primary track-history-button" (click)="navigateToTripHistory(selectedItem.id)">Trip History</button>
        </div>

        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1">
            <div class="row margin-top-50 margin-left-negative">
                <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                    <img src="/assets/images/edit.png" class="cursorClass" matTooltip="Edit Vehicle" (click)="navigateToEditDetails(selectedItem.id)" />
                </div>
                <div class="col-sm-6 col-md-6 col-xl-6 col-lg-6">
                    <img src="/assets/images/delete.png" class="cursorClass" matTooltip="Delete Vehicle" (click)="openModal(template)" />
                </div>
            </div>

        </div>

        <div class="col-sm-1 col-md-1 col-xl-1 col-lg-1">
        </div>
    </div>


    <!--<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="2">
        <div>
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </div>
    </agm-map>-->

    <div id='myMap' #myMap style='width: 64.5vw; height: 65vh; margin-left: 1%; position: relative;'></div>

    <div class="row row-padding-top-left">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 font-size-22 boldClass">
            Driver Details
        </div>
    </div>

    <div class="row row-padding-top-left">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Name
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{userDetails.firstName}}  {{userDetails.lastName}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Email Id
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{userDetails.email}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Company Name
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{companyName}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Contact Number
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{userDetails.mobileNumber}}
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row row-padding-top-left">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Vehicle Make
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{selectedItem.brandName}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Vehicle Model
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{selectedItem.model}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    VIN
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{selectedVehicleData.VIN}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Vehicle Status
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{selectedItem.status}}
                </div>
            </div>
        </div>
    </div>
    <div class="row row-padding-top-left">

        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Dongle
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{deviceName}}
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Distance covered
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{selectedVehicleData.Distance}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Current Speed
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">
                    {{selectedVehicleData.Speed}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">
                    Current location
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">

                </div>
            </div>
        </div>
    </div>

    <div class="row row-padding-top-left">
        <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 font-size-22 boldClass">
            Other Details
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
            <mat-accordion>


                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Engine Faults
                    </mat-expansion-panel-header>
                    <div class="row yellow-box">

                        <div class="col-md-1 col-lg-1 col-sm-1 col-xl-1">
                            <img src="./assets/images/alert.png" class="alert-icon">
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="boldClass row code-color font-size-18">
                                Code {{selectedVehicleData.FaultSPN}}
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-8 col-sm-8 col-xl-8">
                            {{selectedVehicleData.FaultDescription}}
                        </div>



                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Engine Condition
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">RPM</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.RPM}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Vehicle Speed</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.VehicleSpeed}}</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Pct Load</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.PctLoad}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Pct Torque</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.PctTorque}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Drv Pct Torque</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.DrvPctTorque}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Engine Crankcase Pressure</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.EngineCrankcasePressure}}</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Engine Intake Manifold Pressure</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.EngineIntakeManifoldPressure}}</div>
                            </div>
                        </div>

                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Vehicle Information
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Engine Serial Number</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.EngineSerialNo}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Engine VIN</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.EngineVIN}}</div>
                            </div>
                        </div>


                    </div>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Powertrain Pressure and Temperature Information
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Oil Temperature</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.OilTemp}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">AirIntake Temperature</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.AirIntakeTemperature}}</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Ambient Temperature</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.AmbientTemp}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Oil Pressure</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.OilPressure}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Barometric Pressure</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.BarometricPressure}}</div>
                            </div>
                        </div>


                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Emission System
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Total No. of Active Regeneration</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.TotalNoOfActiveRegenerations}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Total No. of Passive Regeneration</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.TotalNoOfPassiveRegenerations}}</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">SCR Inlet</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.SCRInletNox}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">SCR Outlet</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.SCROutletNox}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">DPF Pressure</div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 boldClass style-data-value2">{{selectedVehicleData.DPFPressureDifferential}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">DPF Soot</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.DPFPressureDifferential}}</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">DPF Outlet</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.DPFSootLoad}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">DPF Inlet</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.DPFInletTemp}}</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">DPF Ash</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{selectedVehicleData.DPFAshLoad}}</div>
                            </div>
                        </div>




                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>


</div>


<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row margin_left">
            Are you sure you want to delete the vehicle?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide();deleteVehicle(selectedItem.id);">Delete</button>
    </div>
</ng-template>

