/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: #E9EDF0;
}
.mat-header-cell{
    font-weight: bold;
}
.index-list{
    max-width:20px !important;
}
.contact-list{
    max-width:100px !important;
}
.status-list{
    max-width:60px !important;
}
.gender-list{
    max-width:60px !important;
}
.action-list{
    max-width:150px !important;
}
.login-card-title{
    color:#188ED4;
    padding-left: 19px;
}
.login-card-title-line{
    border-left-color: #188ED4 !important;
    border-left-style: solid !important;
}
.common-button-color{
    background: #188ED4!important;
}
.content-top-user{
    font-size: small;
    color: #555;
}
.content-top{
    font-size: small;
    color: #555;
    padding-top: 20px;
}
.content-body{
    font-weight: bold;

}
.common-list-custom-container{
    width: 100% !important;
    float: left !important; 
    height: 80px !important;
}
.common-list-custom-container-controls{
    width: 80% !important;
    float: left !important; 
    border-color: gray !important;
    border-bottom-style: solid !important; 
    height: 60px !important;
}
.common-list-custom-container-topic{
    width: 20%  !important; 
    float: left !important; 
    border-bottom-color:  #188ED4 !important;
    border-bottom-style: solid !important; 
    height: 60px !important;
}

.common-example-container {
    display: flex;
    flex-direction: column;
}
.common-example-container > * {
    width: 100%;
    height: 100%;
}


.common-example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.custom-card{
    padding-left: 20px;
}

.login-card{
    padding-bottom: 5%;
    padding-top: 5%; 
    /*padding-left: 20px;*/ 
    padding-right: 6%; 
    width: 60%;
    min-width: 300px;
}
.dashboard-small-card{
    min-width: 100%;
    min-height: 150px;
    height: 100%;
}
.dashboard-icon-text-card{
    width:60%;
    float:left;
    /*background-color: white;*/
}
.dashboard-icon-card{
    width:40%;
    float:left;
    padding-top: 10%; 
    height: 100%; 
    text-align: center;
}
.dashboard-vehicle-color{
    background-color: #00e676; 

}
.dashboard-company-color{
    background-color: #EE5757; 

}
.dashboard-graph-card{
    min-width: 100%;
    min-height: 280px;
}
.dashboard-pie-card{
    min-width: 250px;
    min-height: 450px;
}
.headline-management{
    padding-left: 30px;
    font-size: large;

}
.common-login-logo{
    padding-top: 20%;
    padding-left: 20%;
    max-width: 100%;
}


.headline-module{
    font-size: large;
    font-weight: bold;

}
.sub-headline-module{
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}


.unistrong-button{
    border-style: solid !important;
    border-color: #0099cc !important;
    color: white !important;
    min-width:200px !important;
    background-color: #0099cc;

}
.unistrong-button-device-mangement{
    border-style: solid !important;
    border-color: #0099cc !important;
    color: white !important;
    min-width:150px !important;
    background-color: #0099cc;

}
.unistrong-button-white{
    border-style: solid !important;
    border-color: #188ED4 !important;
    color: #188ED4 !important;
    min-width:200px !important;
    font-weight: bold;

}
.detail-button-twin{
    border-style: solid !important;
    border-color: #188ED4 !important;
    color: #188ED4 !important;
    min-width:150px !important;
}
.list-search-padding{
    padding-right: 20px;
}
.list-button-float{
    float: right;
}
.unistrong-search{
    /*border-style: solid !important;*/
    /*border-color: #188ED4 !important;*/
    color: #188ED4 !important;
    /*min-width:200px !important;*/

}
.common-list-title-container{
    width: 100%;float: left; min-height: 68px;
}
.common-details-title-container{
    width: 100%;float: left; min-height: 68px;
}
.common-list-serach-button-container{
    width: 80%;
    float: left; 
    border-color: #E9EDF0;
    border-bottom-width: 0.5px;
    border-bottom-style: solid; 
    min-height: 50px;
}
.common-details-serach-button-container{
    width: 80%;
    float: left;
    border-color: #E9EDF0;
    border-bottom-width: 0.5px;
    border-bottom-style: solid; 
    min-height: 50px;
}
.common-list-title-counter{
    min-height: 50px;
    border-radius: 100%; 
    background-color: #188ED4; 
    color: white;  
    padding-left: 6px;
    padding-right: 6px; 
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: small
}
/*.common-list-title-counter-disabled{
    min-height: 50px;
    border-radius: 100%; 
    background:gray; 
    color: white;  
    padding-left: 6px;
    padding-right: 6px; 
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: small
}*/
.common-list-title-counter-disabled{
    display: none;
}
.common-list-title-counter-container{
    width: 20%; float: left; border-bottom-color:  #188ED4; border-bottom-style: solid; min-height:56px;text-align: center
}
.common-details-title-counter-container{
    width: 20%;
    float: left;
    border-bottom-color:  #188ED4;
    border-bottom-style: solid;
    min-height:56px;
    text-align: center
}
.common-background-color{
    background-color: #E9EDF0
}
.list-white-background{
    background-color: #ffffff;
}
.content-title{
    width: 100%;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 18px;
    border-bottom: gray;
    border-bottom-style: solid;
    font-size:large;
}
.content-title + .container-fluid {
    padding-top: 20px;
}

.login-background{
    /*background-image: url('../assets/images/unistrong-assets/bg.png');*/ 
    background-size: 100% 100%;
}
.forget-password{
    /*    color: #188ED4;
        */float: right;
  
    height: 14px;
    width: 118px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    color: rgba(125, 125, 125, 1);
    text-align: left;
    line-height: 24px;
    padding-bottom: 50px;

}
.common-button-login{
    float: right;

}
.devider-class{
    margin-left: 80px !important;
}
/* Styles */
.body_img {
    /*background-image: url('../images/bg_image.png') ;*/
    /*min-width: 900px;*/
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
}

.details-card-titile{
    width: 100%; height: 70px; background-color: white; padding-left: 0px !important
}
.formContent {
    background: #ffffff;
    margin-top: 30%;
    border: 1px solid;
    padding: 0 10% 5%;
    width: 350px;
}
/*.common-login-container{
    padding-top: 200px;
}*/
.common-login-container{
    padding-top: 25vh;
}
/*@media only screen and (max-width: 500px) {
    .common-login-container{
        padding-top: 1vh;
    }
}*/

@media  (min-height: 400px) and (max-height: 500px) {
    .common-login-container{
        padding-top: 10vh;
    }
}
@media  (min-height: 300px) and (max-height: 400px) {
    .common-login-container{
        padding-top: 15vh;
    }
}
@media  (min-height: 200px) and (max-height: 300px) {
    .common-login-container{
        padding-top: 3vh;
    }
}
@media  (min-height: 100px) and (max-height: 200px) {
    .common-login-container{
        padding-top: 2vh;
    }
}

@media  (min-height: 1px) and (max-height: 100px) {
    .common-login-container{
        padding-top: 1vh;
    }
}
.common-line-color{
    color: #E9EDF0;

}
.device-list-search{
    top: -60px!important; 
    width: 200px !important;  
    float: right;
    padding-left: 5px;
}
.device-list-add-button{
    top: -60px!important; 
    width: 60px; 
    float: right;
    padding-left: 5px; 
}
.chart-device{

}


.wrap-text-name-container{
    white-space: nowrap !important; 
    width: 150px !important; 
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
    color: white;
    float: right;
}

.wrap-text-name{
    color: white;
    padding-left: 10px;
    max-width: 150px !important; 
}

/*Very Large screens -----------*/ 
@media only screen and (min-width: 1824px) {
    .test-responsive{
        /*background: #ffffff !important;*/
    }
    .breadcrumb-item.active{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .fluid-bread{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .breadcrumb{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
}

/*Large desktop*/ 
@media  (min-width: 1200px) and (max-width: 1824px) {
    .test-responsive{
        /*background: red !important;*/
    }
    .breadcrumb-item.active{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .fluid-bread{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .breadcrumb{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
}

/*Portrait tablet to landscape and desktop*/ 
@media (min-width: 979px) and (max-width: 1200px) { 
    .test-responsive{
        /*background: green !important;*/
    }
    .devider-class{
        margin-left: 30px !important;
    }
    .breadcrumb-item.active{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .fluid-bread{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .breadcrumb{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }

}

/*Portrait tablet to landscape and desktop*/ 
@media (min-width: 768px) and (max-width: 979px) { 
    .test-responsive{
        /*background: blue !important;*/
    }   
    .detail-button-twin{
        min-width:80px !important;
    }
    .devider-class{
        margin-left: 20px !important;
    }
    .unistrong-button{
        min-width:80px !important;
    }
    .list-search-padding{
        padding-right: 10px;
    }
    .unistrong-button-device-mangement{
        min-width:60px !important;
    }
    .breadcrumb-item.active{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .fluid-bread{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .breadcrumb{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
}

/*Landscape phone to portrait tablet*/ 
@media (max-width: 767px) { 
    .test-responsive{
        /*background: yellow !important;*/
    } 
    .common-login-logo{
        padding-top: 10%;
        padding-left: 1%;
        padding-bottom: 10%;
    }
    .common-login-container{
        padding-top: 10px;
        padding-left: 10px;
    }
    .detail-button-twin{
        min-width:80px !important;
    }
    .devider-class{
        margin-left: 20px !important;
    }
    .unistrong-button{
        min-width:50px !important;
    }
    .list-search-padding{
        padding-right: 5px;
    }
    .unistrong-button-device-mangement{
        min-width:40px !important;
    }
    .breadcrumb-item.active{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .fluid-bread{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .breadcrumb{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
}

/*Landscape phones and down*/ 
@media (max-width: 480px) { 

    .test-responsive{
        /*background: #ffffff !important;*/
    } 
    .common-login-logo{
        padding-top: 10%;
        padding-left: 1%;
        padding-bottom: 10%;
    }
    .common-login-container{
        padding-top: 10px;
        padding-left: 10px;
    }
    .detail-button-twin{
        min-width:40px !important;
    }
    .devider-class{
        margin-left: 20px !important;
    }
    .unistrong-button{
        min-width:40px !important;
    }
    .list-search-padding{
        padding-right: 1px;
    }
    .unistrong-button-device-mangement{
        min-width:40px !important;
    }
    .fluid-bread{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
    .breadcrumb{
        background-color:  #E9EDF0 !important;
        color: #3e4146 !important;
    }
}


.mat-icon-button-dash {
    padding: 0;
    min-width: 0px;
    width: 0px !important;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}
.ellipsis-text{
    white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


#progress {
    width: 100%;
    background-color:whitesmoke;
    border: #188ED4;
    border-width: 0.5px;
    border-style: solid;
}
#bar {
    width: 1%;
    height: 30px;
    background-color:#188ED4;
}