<div class="row common-margin-top scroll-class">

    <div class="row tripName boldClass">
        {{tripDetails.tripName}}
    </div>

    <div id='myMap' #myMap style='width: 70vw!important;
    height: 45vh!important;
    margin-top: 3%; 
    position: relative;'></div>
    <div class="row width_100 margin_top_negative_five">
        <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1">
        </div>
        <div class="col-md-3 col-sm-3 col-xl-3 col-lg-3 width_100 box_styling margin_left_4">
            <div class="">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 boldClass">
                    Start Location
                </div>
                <div class="ellipsisStyle col-md-12 col-sm-12 col-lg-12 col-xl-12" *ngIf="tripDetails.startLocation; else showNA" matTooltip="{{tripDetails.startLocation}}">
                        {{tripDetails.startLocation.split("#")[1]}}
                </div>
                <ng-template>
                    <div class="ellipsisStyle col-md-12 col-sm-12 col-lg-12 col-xl-12" #showNA>
                        NA
                    </div>
                </ng-template>
            </div>
            <div class="marginSecond">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 boldClass">
                    End Location
                </div>
                <div class="ellipsisStyle col-md-12 col-sm-12 col-lg-12 col-xl-12" *ngIf="tripDetails.endLocation; else showNA" matTooltip="{{tripDetails.endLocation}}">
                        {{tripDetails.endLocation.split("#")[1]}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xl-3 col-lg-3 width_100 box_styling">
            <div class="">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 boldClass">
                    Start Date/Time
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                    {{tripDetails.startTime | date:'dd-MM-yyyy HH:mm a z':'+0900'}}
                </div>
            </div>
            <div class="marginSecond">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 boldClass">
                    End Date/Time
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                    {{tripDetails.endTime | date:'dd-MM-yyyy HH:mm a z':'+0900'}}
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xl-3 col-lg-3 width_100 box_styling">
            <div class="">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 boldClass">
                    Distance Travelled
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12"  *ngIf="tripDetails.milesDriven; else showNA">
                    {{tripDetails.milesDriven}}&nbsp;miles
                </div>
            </div>
            <div class="marginSecond">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 boldClass">
                    Duration
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" *ngIf="tripDetails.tripDuration; else showNA">
                    {{ tripDetails.tripDuration.split(':')[0] + ' Hrs ' + tripDetails.tripDuration.split(':')[1] +' Mins '+tripDetails.tripDuration.split(':')[2] +' Secs '  }}
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1">
        </div>
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12 tripName boldClass">
            Vehicle Parameter
        </div>

        <div class="row width_100 margin_left_accordion">
            <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12" style="margin-bottom:5%;margin-left:2.5%;">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Engine Faults
                        </mat-expansion-panel-header>

                        <div class="row yellow-box" *ngIf="!((FaultSPN == 0 && FaultDescription ==0) || FaultSPN)">

                            <div class="col-md-1 col-lg-1 col-sm-1 col-xl-1">
                                <img src="./assets/images/alert.png" class="alert-icon">
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="boldClass row code-color font-size-18">
                                    Code {{FaultSPN}}
                                </div>
                            </div>

                            <div class="col-md-8 col-lg-8 col-sm-8 col-xl-8">
                                {{FaultDescription}}
                            </div>
                        </div>

                        <div class="row noFaultFound" *ngIf="FaultSPN == 0">
                            No Faults Found.
                        </div>

                    </mat-expansion-panel>
                    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Engine Condition
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">RPM</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{rpm}}</div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Vehicle Speed</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{vehicleSpeed}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Engine Crankcase Pressure</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{engineCrankcasePressure}}</div>
                                </div>
                            </div>

                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Engine Intake Manifold Pressure</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{EngineIntakeManifoldPressure}}</div>
                                </div>
                            </div>

                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Vehicle Information
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Engine Serial Number</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{tripDetailsOfVehicleZero.EngineSerialNo}}</div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Engine VIN</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{tripDetailsOfVehicleZero.EngineVIN}}</div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Dongle Connected</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{isConnected}}</div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Powertrain Pressure and Temperature Information
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Oil Temperature</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{oilTemp}}</div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">AirIntake Temperature</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{airIntakeTemperature}}</div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Ambient Temperature</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{ambientTemp}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-3 col-xl-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 color-grey style-data-name">Barometric Pressure</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 boldClass style-data-value">{{barometricPressure}}</div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

    </div>



</div>

